* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #29033a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

body::-webkit-scrollbar {
    display: none;
}

h1 {
    color: white;
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 126px;
    text-align: center;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #76249c;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.card {
    width: 240px;
    height: 360px;
    border: 5px solid white;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    background-color: #76249c;
    color: white;
    transition: all 0.3s;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.1);
}

.card img {
    max-width: 100%;
    max-height: 70%;
    display: block;
    margin: 0 auto;
}

.card h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 26px;
    text-align: center;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

.card p {
    font-size: 12px;
    text-align: center;
    overflow: hidden;
    margin: 0;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 0;
}

.info p {
    font-size: 18px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    border: none;
    align-items: center;
    margin-bottom: 2rem;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 0;
    margin: 0;
}

nav li {
    margin-right: 10px;
}

nav button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 60px;
    cursor: pointer;
    transition: all 0.3s;
}

nav button:hover {
    transform: scale(1.1);
}

/* Estilos del modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    cursor: default;
}

.modal-content {
    margin: 5% auto;
    width: 80%;
    max-width: 600px;

}

.modal img {
    display: block;
    margin: 0 auto;
    max-width: 140%;
    max-height: 80vh;

}

.modal-content {
    cursor: default;
}